@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

*, *::before, *::after{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* Темы */

:root{
    --default-transition: color .3s, background .3s ease-in-out, border-color .3s ease-in-out, fill .3s ease-in-out, transform .3s ease-in-out;
}

:root[data-theme="light"]{
    --text: #0e082b;
    --background: #dad4f7;
    --primary: #d39cec;
    --secondary: #f6d0f0;
    --accent: #d228b6;
    --block: #D3CDEF;
    --toggle-btn: url("./assets/light.svg");
}

:root[data-theme="dark"]{
    --text: #dad4f7;
    --background: #0e082b;
    --primary: #491363;
    --secondary: #2f0929;
    --accent: #d72dbb;
    --block: #161032;
    --toggle-btn: url("./assets/dark.svg");
}

body{
    background: var(--background);
    transition: var(--default-transition);
    color: var(--text);
}

/* HEADER */

header{
    width: 100%;
    padding: 12px 85px;
    position: fixed;
    background-color: var(--primary);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: var(--default-transition);
    z-index: 99;
    box-shadow: 0 .5px 5px rgba(0, 0, 0, .5);
}

.header__menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px
}

/* Кнопки меню хидера */

.create-btn{
    color: var(--text);
    cursor: pointer;
    font-weight: 400;
}

.toggle-theme{
    width: 32px;
    height: 32px;
    background: var(--toggle-btn);
    transition: var(--default-transition);
    cursor: pointer;
}


/* Главная */

main{
    padding: 120px 180px 35px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 45px;
    transition: var(--default-transition);
}

.container{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 45px;
    position: relative;
}

.container_important{
    flex-direction: column;
}

.container_loader{
    padding-top: 120px;
    visibility: hidden;
    background-color: var(--background);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 98;
    justify-content: center;
}

.container_loader-visible{
    visibility: visible;
}

.loader{
    border-radius: 50%;
    border-top: 6px solid transparent !important;
    border-bottom: 6px solid transparent !important;
    border-right: 6px solid;
    border-left: 6px solid;
    border-color: var(--primary);
    width: 50px;
    height: 50px;
    animation-delay: .1s;
    animation: spin 2s infinite;
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
        -moz-transform: translate(-50%, -50%) rotate(0deg);
        -o-transform: translate(-50%, -50%) rotate(0deg);


    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
        -moz-transform: translate(-50%, -50%) rotate(360deg);
        -o-transform: translate(-50%, -50%) rotate(360deg);
    }
}




.card{
    width: 650px;
    display: flex;
    flex-direction: column;
}

.card__header{
    background: var(--primary);
    padding: 15px 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    border-radius: 20px 20px 0 0;
}

.card__header .card__header-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.card__header p{
    font-size: 14px;
    width: 100%;
    white-space: nowrap;
}

.card__header h3{
    font-size: 16px;
}

.card__description{
    background: var(--block);
    padding: 25px 35px;
    border-radius: 0 0 20px 20px;
}
.card__description p{
    overflow-wrap: break-word;
    white-space: normal;
}

.card__menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 7px;
    background: var(--secondary);
    border-radius: 20px;
    padding: 5px 8px;
}

.card__menu img{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

/* Модальные окна */

.modal-container{
    visibility: hidden;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(3px);
    background: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-container_visible{
    visibility: visible;
}


.modal-container__close{
    position: absolute;
    width: 42px;
    height: 42px;
    background: no-repeat url(/assets/close.svg);
    background-size: 42px;
    top:0;
    right: 0;
    margin: 60px 60px;
    cursor: pointer;
}


.form-container{
    background: var(--block);
    padding: 32px 42px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.form-button{
    background: var(--primary);
    padding: 16px 24px;
    border-radius: 20px;
    cursor: pointer;
}

.form-container form{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input-box{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-box input, textarea, select{
    border-radius: 20px;
    background: var(--secondary);
    border: none;
    padding: 20px;
    outline: none;
    color: var(--text);
    font-size: 14px;
    appearance: none;
}

.input-box input::placeholder, .input-box textarea::placeholder{
    color: var(--text);
    filter: brightness(50%);
}

.input-box textarea::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.input-box label{
    margin-left: 20px;
}


.input-box textarea{
    width: 320px;
    height: 240px;
    resize: none;
}

.input-box select{
    cursor: pointer;
    width: 100%;
}

.input-box .select-wrapper{
    position: relative;
}

.input-box .select-wrapper::after{
    content: "";
    display: block;
    border-style: solid;
    border-width: 10px 7px 0 7px;
    border-color: #d72dbb transparent transparent transparent;
    position: absolute;
    top: 50%;
    margin-top: -5px;
    right: 20px;
    cursor: pointer;
}